body {
  background-color: black;
  color: white;
  font-family: "Mulish";
  font-size: 16pt;
}

label {
  margin-left: 0.15em;
}

button:hover {
  background-color: gray;
}

button {
  /*background-color: darkgreen;*/
  padding: 0.5em;
  font-size: 24pt;
}

button:hover {
  background-color: #500c99;
  /*padding-left: 0.7em;*/
}

/*box {
  border: solid 2px white;
}*/